.mb-2 {
	margin-bottom: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.text--bold {
	font-weight: 700;
}

.text--center {
	text-align: center;
}

.text--left {
	text-align: left;
}

.text--danger {
	color: rgb(246, 72, 72);
}

.text--success {
	color: rgb(91, 255, 86);
}

.link {
	color: #197bbd;
	font-weight: 600;
	text-decoration: none;
}

.btn--bg--dark {
	background-color: #333;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.05rem;
	font-size: 1.1rem;
}

.bg-dark {
	background-color: #000;
}

.text--decoration--none {
	text-decoration: none;
}
